@{
    ViewData["Title"] = "Inicio";
}

<partial name="_Mensagem"></partial>

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Este sistema esta em desenvolvimento versão 0.0.2.</p>
</div>


<div class="flex">

    <div>

        <img src="~/img/informacoes.png" />
        <h5>
            <a asp-action="Index" asp-controller="Usuario">Usuarios</a>
        </h5>

    </div>

    <div>

        <img src="~/img/informacoes.png" />
        <h5>
            <a asp-action="Index" asp-controller="Categoria">Categorias</a>
        </h5>

    </div>

    <div>

        <img src="~/img/informacoes.png" />
        <h5>
            <a asp-action="Index" asp-controller="Produtos">Produtos</a>
        </h5>

    </div>

    <div>

        <img src="~/img/informacoes.png" />
        <h5>
            <a asp-action="Index" asp-controller="Info">Estoque Geral</a>
        </h5>

    </div>

    <div>

        <img src="~/img/informacoes.png" />
        <h5>
            <a asp-action="Index" asp-controller="Info">Compras</a>
        </h5>

    </div>

    <div>

        <img src="~/img/informacoes.png" />
        <h5>
            <a asp-action="Index" asp-controller="Info">Vendas</a>
        </h5>

    </div>

    <div>

        <img src="~/img/informacoes.png" />
        <h5>
            <a asp-action="Index" asp-controller="Info">Relatorios</a>
        </h5>

    </div>

</div>