@model EstoqueWeb.Models.ProdutosTela
@{
    ViewData["Title"] = "Cadastrar Produtos";
}

<h2>Cadastrar produtos</h2>

<div class="row">

    <div class="col-md-4">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-action="Cadastrar">

            <div class="form-group">

                <label asp-for="Nome" class="control-label">Nome</label><br />
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome"></span>

            </div><br />

            <div class="form-group">

                <label asp-for="Descricao" class="control-label">Descrição </label><br />
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao"></span>

            </div><br />

            <div class="form-group">

                <label asp-for="Preco" class="control-label">Descrição </label><br />
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco"></span>

            </div><br />

            <div class="form-group">

                <label asp-for="IdCategoria" class="control-label"></label>

                <select name="IdCategoria" class="form-control">
                    @foreach (var item in Model.ListaCategorias)
                    {
                        <option value="@item.IdCategoria">@item.Nome</option>
                    }
                </select>
                <span asp-validation-for="Descricao"></span>

            </div><br />

            <div>
                <input type="submit" value="adicionar" class="btn btn-success" />
            </div>

        </form>

    </div>

</div>